<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mystery.anonymous.saheni">

    <!-- الأذونات المطلوبة -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- قد تحتاج إلى أذونات إضافية للتحكم بوضع عدم الإزعاج والقراءة من الحساسات -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:ignore="ProtectedPermissions"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitsApp">
        <!-- شاشة البداية -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- الشاشة الرئيسية (قائمة المنبهات) -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"/>
        <!-- شاشة إضافة/تعديل المنبه -->
        <activity
            android:name=".ui.AlarmAddEditActivity"
            android:exported="true"/>
        <!-- شاشة رنين المنبه واختباراته -->
        <activity
            android:name=".ui.AlarmRingActivity"
            android:exported="true"/>
        <!-- شاشة الاختبار التفصيلي (يمكن استدعاؤها من AlarmRingActivity) -->
        <activity
            android:name=".ui.AlarmTestActivity"
            android:exported="true"/>

        <!-- مستقبل التنبيه عند وصول موعد المنبه -->
        <receiver
            android:name=".service.AlarmReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>
</manifest>
